@import 'tailwindcss';

:root {
  --background: #121212;
  --foreground: #f8f9fa;
}

::selection {
  background-color: #6eb7e7;
  color: var(--background);
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-inter), sans-serif;
  letter-spacing: 0.02em;
}
